<!DOCTYPE html>
<html lang="en">
  <head>
    {{ headContent() }} <!-- leave this here, such that shiny recognises the header -->
        <title>Reinforcement Learning - Bandits</title>
        <link href="css/application.css" rel="stylesheet">
        <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
        <!--[if IE 9]>
        <link href="css/application-ie9-part2.css" rel="stylesheet">
        <![endif]-->
        <link rel="shortcut icon" href="img/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <script>
            /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
            chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
            https://code.google.com/p/chromium/issues/detail?id=332189
            */
        </script>
        <script src="shinyjs/inject.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


    </head>
    
    <body>
      <!-- required with heroku -->
       <script>
          var socket_timeout_interval
          var n = 0
          $(document).on('shiny:connected', function(event) {
          socket_timeout_interval = setInterval(function(){
          Shiny.onInputChange('count', n++)
          }, 15000)
          });
          $(document).on('shiny:disconnected', function(event) {
          clearInterval(socket_timeout_interval)
          });
          </script>
        <!-- required with heroku -->
      
  <style>
    body { 
      padding-right: 0 !important; 
    }
    
    .modal-open {
        padding-right: 0px !important;
    }
    
    body:not(.modal-open){
      padding-right: 0px !important;
    }
  </style>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(16, 40, 90);">
  <a class="navbar-brand" style="color: #fff; font-family: monospace; font-weight: 600;">n-armed bandits</a>
  <button class="navbar-toggler" style="color: #fff; border-color: #fff;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color: #fff; border-color: #fff;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      &nbsp;
      <li class="nav-item active">
                        <a onclick="showEpsilonGreedyPage()">
                            <span class="icon">
                                <i class="file-excel-o"></i>
                            </span>
                                  {{ actionButton('triggerScrapedData', 'epsilon (greedy)', style='color: #fff; background-color: transparent; border: 1px solid #fff; width: 200px; font-family: monospace;') }}
                        </a>
      </li>
      &nbsp;
      <li class="nav-item navbar-right">
                        <a onclick="">
                            <span class="icon">
                                <i class="broken-link"></i>
                            </span>
                              <button type="button" class="btn btn-default action-button shiny-bound-input" data-toggle="modal" style="color: #fff; background-color: transparent; border: 1px solid #fff; width: 100px; font-family: monospace;" data-target="#exampleModal">
            About
          </button>
                        </a>
      </li>
      <div style="color: rgb(16, 40, 90);">
      {{ textOutput("keepAlive") }}
      </div>
    </ul>
  </div>
</nav>
  
  
  
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Thanks for visiting!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Hi, I am the creator of this application built with R's <strong>Shiny</strong>.
                  </p>
                  <p>The idea behind this application is to allow for an interactive way of understanding the n-armed bandit problem. 
                  </p>
                  <p>
                    All content is based on <i>Sutton, Richard S., and Andrew G. Barto. Reinforcement learning: An introduction. MIT press, 2018.</i>
                  </p>
                  <p>
                    This application uses Bootstrap 4.0, Heroku and R Shiny. 
                  </p>
                  <p>
                    <a href="http://www.michaelhogers.com" target="_blank">Michael Hogers</a>
                  </p>
                                      <img style="border-radius: .625rem; width: 10rem!important" class="card-img-top" src="img/mh.png" alt="Michael Hogers">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal" style="color: #fff; border-color: #3abf94; background-color: #3abf94;">Close</button>
                </div>
              </div>
            </div>
          </div>    

        <div class=" content-epsilon-greedy" style="width: 100%">
          {{ htmlTemplate('view/subViews/epsilonGreedy.html') }}
        </div>
      
        <!-- The Loader. Is shown when pjax happens -->
        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin-fast"></i>
        </div>
        
      <script>
        $(function() {
           $(".sidebar-active-toggle").click(function() {
              // remove classes from all
              $("li").removeClass("active");
              // add class to the one we clicked
              $(this).addClass("active");
           });
        });
      </script>

 
  </body>
</html>
